header{

    background-color: pink;
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}






