nav{
background-color: #FADBD8;
width: 100%;
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}


.footer{
    height: 50px;
    line-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}